/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v35-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/open-sans-v35-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v35-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v35-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v35-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v35-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v35-latin-italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/open-sans-v35-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v35-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v35-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v35-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v35-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v35-latin-800.eot'); /* IE9 Compat Modes */
    src: url('../fonts/open-sans-v35-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v35-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v35-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v35-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v35-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/open-sans-v35-latin-800italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/open-sans-v35-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v35-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v35-latin-800italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v35-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v35-latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* changa-one-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/changa-one-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/changa-one-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/changa-one-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/changa-one-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/changa-one-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/changa-one-v18-latin-regular.svg#ChangaOne') format('svg'); /* Legacy iOS */
}