

@import "fonts.css";

* {
    box-sizing: border-box;
}

/*
 REGLES GENERALES
*/
body {
    font-family: 'Open Sans' , sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    color: #011627 ;
    background-color:#fdfffc;
    max-width: 100%;
    margin:0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #e71d36;
    text-decoration: none;
}


h2,
h1{
    font-family: 'Changa One', serif;
    font-weight: 400;
}


h1 {
    font-size: 2rem;
    margin-bottom: 1em;
}

h2
{
    font-size: 1.5rem;
    margin-bottom:.75em;
}

p{
    line-height: 1.5;
}


/*
 En-tête
*/

header
{
    text-align: center;
    background: black;
    padding-top: 5px;
    margin-bottom: 30px;
}


header .logo
{

}

header .nom{
    font-family: 'Changa One', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 0.8;
    margin: 1rem 0;
    color: blue;

}

header .metier{
    margin-top: -5px;

}
header nav{
    padding: 10px 0;
    margin-top: 20px;
}

header nav ul{
    padding: 0;
    margin: 0 10px;

}
/*
 pour supprimer les puces
*/

header nav ul li{
     list-style-type: none;
     padding: 0;
     display: inline-block;

}
/*cacher le 1er li de la ul*/

header nav ul li:first-child{
    display: none;
}
header nav ul li a {
    color: white;
    font-weight: 800;
    padding : 15px 15px;
}

header nav ul li a:hover{
    color: blue;
}

/*
contenu principale du site
*/

main{
    margin: 0 5%;
}


/*
pied de page
*/
footer {
    padding-top: 50px;
    text-align: center;

}

footer nav ul {
    padding: 0;
}
footer nav ul li{
    list-style-type: none;
    display: inline-block;

}

footer nav ul li img{
    width: 50px;
    margin: 0 15px;
    filter: grayscale(1);
    transition: all 500ms linear;
}

footer nav ul li img:hover {
    filter: grayscale(0);

}
